<section id="contact">
  <div class="section-label">Contact</div>
  <h2 class="section-title">¿Tienes un proyecto<br />en mente?</h2>
  <p class="contact-sub">
    Si buscas a alguien capaz de orquestar código, infraestructura cloud y datos para resolver
    problemas complejos de negocio, hablemos.
  </p>

  <!-- CORREO ACTUALIZADO -->
  <a href="mailto:discover@taracena.me" class="contact-email">discover@taracena.me</a>

  <div class="social-links">
    <a
      href="https://www.linkedin.com/in/carlos-taracena-836512217"
      target="_blank"
      class="social-link"
      >↗ LinkedIn</a
    >
    <a href="https://github.com/Defiilol11" target="_blank" class="social-link">↗ GitHub</a>
    <a href="#" class="social-link">↗ Resume PDF</a>
  </div>
</section>
